.descripcion-inicio {
    color: var(--bs-secondary-color);
}
.descripcion-inicio {
    color: var(--bs-secondary-color);
}
.contenedor-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}
